/* ===== TABLET ===== */
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .hero-texto {
    flex: 1;
    padding-right: 2rem;
  }

  .hero-imagem {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .cards {
    flex-direction: row;
    justify-content: center;
  }

  .card {
    width: 30%;
  }
}

/* ===== DESKTOP ===== */
@media (min-width: 1080px) {
  
  
  .navbar {
    display: flex;
    max-width: 1100px;
    margin: auto;
    padding-left: 300px;
  }
  
  .hero {
    max-width: 1200px;
    margin: auto;
    padding: 4rem 2rem;
  }

  .hero-imagem img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
}

.hero-texto h1 {
  font-size: 4rem;;
  color: #f04e23;
}

.hero-texto h2 {
  font-size: 2rem;

}

.hero-texto h3 {
  font-size: 2rem;
  font-weight: normal;

}

  .sobre,
  .projetos,
  .contato {
    max-width: 1100px;
    margin: auto;
    padding: 4rem 2rem;
  }
}
